---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPageHeroItem from '../components/BlogPageHeroItem.astro';
import BlogPageItem from '../components/BlogPageItem.astro';
const pageTitle = 'Blog';
const pageDescription = 'A blog.';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <section>
    <ul>
      {
        posts.map((post, index) => (
          <li class={index === 0 ? 'mb-8 md:mb-14' : 'mb-6 md:mb-12'}>
            {index === 0 ? (
              <BlogPageHeroItem key={index} post={post} />
            ) : (
              <BlogPageItem key={index} post={post} />
            )}
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>