---
import { Image } from '@astrojs/image/components';
const { post } = Astro.props;
---

<div>
  <a href={post.url}>
    <Image
      class='w-full mb-6'
      width={720}
      height={360}
      src={post.frontmatter.heroImage}
      alt={post.frontmatter.title}
    />
  </a>
  <div class='mb-2 md:mb-6 flex flex-row justify-between items-start font-mono'>
    <a href={post.url} class='text-xl md:text-3xl transition'>
      {post.frontmatter.title}
    </a>
    <time datetime={post.frontmatter.pubDate} class='text-base text-neutral-400'>
      {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
      })}
    </time>
  </div>
  <p class='text-sm md:text-base font-sans'>
    {post.frontmatter.description}
  </p>
</div>

<style>
  a:hover {
    color: var(--color-light-green);
  }
</style>