---
import { SITE_TITLE } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostContent from '../components/BlogPostContent.astro';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;

const pageTitle = `${title} | ${SITE_TITLE}`;
---

<BaseLayout pageTitle={pageTitle} pageDescription={description}>
  <article>
    {heroImage && (
      <img
        width={720}
        height={360}
        src={heroImage}
        alt={description}
        class='w-full mb-6'
      />
    )}
    <div class='mb-6 flex flex-col md:flex-row justify-between md:items-start font-mono'>
      <h1 class='mb-4 md:mb-0 text-3xl'>
        {title}
      </h1>
      {pubDate && <time class='mr-auto md:mr-0 md:ml-auto text-sm md:text-base text-neutral-400'>{pubDate}</time>}
      {updatedDate && (
        <div class='mt-1 md:mt-0 mr-auto md:mr-0 md:ml-3 text-sm md:text-base text-neutral-400'>
          <span class='hidden md:inline-block'>&#45;</span> 
          <span>Updated <time>{updatedDate}</time></span>
        </div>
      )}
    </div>
    <section class='post-content'>
      <slot />
    </section>
  </article>
</BaseLayout>

<style>
  article :global(p) {
    margin-bottom: 1rem;
  }
</style>