---
import type { CollectionEntry } from 'astro:content';
import { SITE_TITLE } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const pageTitle = `${title} | ${SITE_TITLE}`;
---

<BaseLayout pageTitle={pageTitle} pageDescription={description}>
  <article>
    {heroImage && (
      <img
        width={720}
        height={360}
        src={heroImage}
        alt={description}
        class='w-full mb-6'
      />
    )}
    <div class='mb-6 flex flex-col md:flex-row justify-between items-center font-mono'>
      <h1 class='mb-4 md:mb-0 text-3xl'>
        {title}
      </h1>
      {pubDate && <time class='mr-auto md:mr-0 md:ml-auto text-sm text-neutral-400'>{pubDate.toDateString()}</time>}
      {updatedDate && (
        <div class='mt-1 md:mt-0 mr-auto md:mr-0 md:ml-3 text-sm text-neutral-400'>
          <span class='hidden md:inline-block'>&#45;</span> 
          <span>Updated <time>{updatedDate.toDateString()}</time></span>
        </div>
      )}
    </div>
    <section class='post-content'>
      <slot />
    </section>
  </article>
</BaseLayout>

<style>
  section.post-content :global(h1) {
    font-size: 1.85rem;
    line-height: 2.25rem;
    margin: 2rem 0 1.5rem;
  }

  section.post-content :global(h2) {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.5rem 0 1rem;
  }

  section.post-content :global(p) {
    margin-bottom: 1rem;
  }

  section.post-content :global(pre) {
    padding: 1rem;
  }
</style>